{% extends "recipes/base.html" %}
<!-- -->
{% load crispy_forms_tags %}
<!-- -->
{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="mb-4 delete-legend"><h1><i class="fa-solid fa-triangle-exclamation pe-2" id="about-us-icons"></i>Are you sure you want to delete?</h1></legend>
      <h3 class="card-title"><i class="fa-solid fa-kitchen-set pe-2" id="about-us-icons"></i>{{object}}</h3>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group py-3">
      <input class="btn btn-outline-danger" type="submit" value="Delete" />
    </div>
  </form>
  <div class="border-top pt-3">
    <a class="card-link" href="{% url 'recipes-home' %}"
      >Cancel</a
    >
  </div>
</div>

<!-- -->
{% endblock content %}