/* Colour Pallet */
/*
#FF6F61 - Coral
#660900 - Coral Darker Accent
#4A90E2 - Light Blue
#0B2747 - Light Blue Darker Accent
#F5F5F5 - Off White
#333333 - Jet (Grey)
#141414 - Off Black
*/

/* Google Fonts */
/* "Playwrite NG Modern" - Use for Titles, Headers etc. */ @import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
/* "Poppins" - Paragraphs and smaller text */ @import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Content Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Navbar */
nav {
    font-family: "Playwrite NG Modern", sans-serif;
    font-weight: bold;
    background-color: #FF6F61 !important;
    transition: all 0.3s ease;
}

nav a {
    color: #f5f5f5;
    transition: all 0.3s ease;
}

.navbar-toggler {
    color: #F5F5F5;
    border: 3px solid #f5f5f5;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 245, 245, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Main Content Styles */
#main-content {
    font-family: "Poppins", sans-serif;
}

.card {
    border: 4px solid #FF6F61;
    background-color: rgba(255,111,97, 0.1);
    border-radius: 10px;
}

.card-title {
    color: #4A90E2;
    text-shadow: -1px -1px 0 #0B2747, 1px -1px 0 #0B2747, -1px 1px 0 #0B2747, 1px 1px 0 #0B2747;
}

.card-link {
    text-decoration: underline;
    color: #4A90E2;
}

/* Footer Styles */

#footer-content {
    font-family: "Poppins", sans-serif;
}

#footer-content a {
    color: #FF6F61;
    text-decoration: none;
}

#footer-content i {
    color: #FF6F61;
    transition: all 0.3s ease;
}

#footer-content i:hover {
    color: #4A90E2;
}

#back-to-top {
    color: #FF6F61;
    transition: all 0.3s ease;
}

#back-to-top:hover {
    color: #4A90E2;
}

/* Custom scroll bar */
::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-track {
    background-color: #0B2747;
}

::-webkit-scrollbar-thumb {
    background: #4A90E2;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #A8CBF0;
}

/*----About Styles-----*/

.about-title {
    text-align: center;
    font-family: "Playwrite NG Modern", sans-serif;
    font-weight: bolder;
    text-shadow: -1px -1px 0 #0B2747, 1px -1px 0 #0B2747, -1px 1px 0 #0B2747, 1px 1px 0 #0B2747;
    color: #4A90E2;
}

#about-us {
    text-decoration: underline;
}

.about-text {
    font-family: "Poppins", sans-serif;
}

#about-us-icons {
    text-shadow: none;
    color: #0B2747;
}

#about-us-container {
    border: 4px solid #FF6F61;
    background-color: rgba(255,111,97, 0.1);
    border-radius: 10px;
}

/* register styles */
#register-legend {
    color: #4A90E2;
    text-shadow: -1px -1px 0 #0B2747, 1px -1px 0 #0B2747, -1px 1px 0 #0B2747, 1px 1px 0 #0B2747;
    font-family: "Playwrite NG Modern", sans-serif;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}

.btn {
    border: 2px solid #FF6F61;
    transition: all 0.3s ease;
    color: #FF6F61;
    font-weight: bold;
}

.btn:hover {
    color: #4A90E2;
    border: 2px solid #0B2747;
    background-color: #0B2747;
}

/* Login styles */
#login-legend {
    color: #4A90E2;
    text-shadow: -1px -1px 0 #0B2747, 1px -1px 0 #0B2747, -1px 1px 0 #0B2747, 1px 1px 0 #0B2747;
    font-family: "Playwrite NG Modern", sans-serif;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}

/* Add Recipe styles */
#recipe-legend {
    color: #4A90E2;
    text-shadow: -1px -1px 0 #0B2747, 1px -1px 0 #0B2747, -1px 1px 0 #0B2747, 1px 1px 0 #0B2747;
    font-family: "Playwrite NG Modern", sans-serif;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}

/* Media queries */
@media (min-width: 1200px) {
    .navbar .navbar-toggler {
        display: none;
    }
}

