/* Colour Pallet */
/*
#FF6F61 - Coral
#660900 - Coral Darker Accent
#4A90E2 - Light Blue
#0B2747 - Light Blue Darker Accent
#F5F5F5 - Off White
#333333 - Jet (Grey)
#141414 - Off Black
*/

/* Google Fonts */
/* "Playwrite NG Modern" - Use for Titles, Headers etc. */ @import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
/* "Poppins" - Paragraphs and smaller text */ @import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Content Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Navbar */
nav {
    font-family: "Playwrite NG Modern", sans-serif;
    font-weight: bold;
    background-color: #FF6F61 !important;
    transition: all 0.3s ease;
}

nav a {
    color: #f5f5f5;
    transition: all 0.3s ease;
}

nav a:hover {
    text-decoration: underline;
}

.navbar-toggler {
    color: #F5F5F5;
    border: 3px solid #f5f5f5;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 245, 245, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Main Content Styles */
#main-content {
    font-family: "Poppins", sans-serif;
}

/* Footer Styles */
#footer-content {
    font-family: "Poppins", sans-serif;
}

#footer-content a {
    color: #FF6F61;
    text-decoration: none;
}

#footer-content i {
    color: #FF6F61;
    transition: all 0.3s ease;
}

#footer-content i:hover {
    color: #4A90E2;
}

#back-to-top {
    color: #FF6F61;
    transition: all 0.3s ease;
}

#back-to-top:hover {
    color: #4A90E2;
}


/* Register app */

#head {
    text-align: center;
}