{% extends "recipes/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid col-12 mb-3">
  <h1 id="recipe-legend"><i class="fa-regular fa-face-laugh-beam pe-2" id="about-us-icons"></i>Welcome, {{ user.username}}!</h1>
</div>
<div class="row row-containers">
  <div class="col-12">
      <div class="about-text-container">
          <p class="about-text d-flex ps-2" id="about-us-container">Here, you can view all recipes our finest admins and users
            upload to our website. You may add your own, update and delete your own. Gather ideas off other chefs, or create your very own
            beautiful ideas! For more information on us, head over to our social media accounts linked at the bottom of every page. Happy
            cheffing!
          </p>
      </div>
  </div>
</div>


{% endblock content %}

