{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-3 pb-3" id="register-legend"><h1><i class="fa-solid fa-user-plus pe-2" id="about-us-icons"></i>Register here!</h1></legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group py-3">
      <input class="btn btn-outline-primary" type="submit" value="Sign Up" />
    </div>
  </form>
  <div class="border-top pt-3">
    <a class="card-link" href="{% url 'user-login' %}">Already have an account? Log in.</a>
  </div>
</div>
{% endblock content %}